body {
  font-family: 'Spectral', serif;
  background-color: #282c34;
  color: white;
  margin-left: 40px;
  margin-top: 60px;
  width:100%;
  text-align: center;


}
h1 {
  color: rgb(159, 135, 135);
  font-size: 42px;
}

/* Div Table*/
.divTable {
	display: table;
	width: 100%;
  padding:20px;
}
.divTableBody {
	display: table-row-group;
}
.tableRow {
	display: table-row;
}

.tableCell {
	border-bottom: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
